.mainNavUl {
  padding: 0;
  display: flex;
}

.mainNavA {
  text-decoration: none;
  color: rgb(52, 52, 0);
  border-radius: 4px;

  font-size: 1rem;
  padding: 10px;
  font-weight: 400;
  width: 100%;
  transition: all 0.5s;
  width: 2rem;
  background-color: rgb(187, 186, 186);
}

.nav {
  list-style: none;
  margin: 20px;
}

.mainNavA:hover {
  box-shadow: 0 0 10px black;
  color: white;
}

.active {
  background-color: gray;
  color: white;
  font-weight: 600;
}
