.container {
  border: 10px solid white;
  overflow: hidden;
}

.container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgb(1, 103, 94); */
  transform: scale(0) rotate(-180deg);
  transition-delay: 0ms;
}

.container:hover:before {
  transform: scale(1) rotate(0deg);
}

.image {
  transform: scale(1);
}

.container:hover .image {
  transform: scale(0);
}

.caption {
  opacity: 0;
  transition-delay: 0ms;
}

.container:hover .caption {
  opacity: 1;
}
