.container {
  border: 10px solid white;
}

.image {
  transform: scale(1) rotate(0deg);
}

.container:hover .image {
  transform: scale(1.5) rotate(10deg);
}

.imageborder {
  border: 2px solid white;
}
